@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  --dark-grey: rgb(182, 182, 182);
  --grey: rgb(205, 205, 205);
  --light-grey: #e9e9ed;
}

body {
  background-color: bisque;
}

main {
  max-width: 500px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.wrapper {
  background-color: white;
  padding: 1rem;
  outline: solid 0.15rem var(--dark-grey);
  outline-offset: -0.5rem;
  border-radius: 0.8rem;
}

.wrapper > * {
  padding: 0.5rem;
}

/* Header */
.user-info {
  display: grid;
  grid-template-columns: max-content 5fr max-content;
  grid-gap: 0.8rem;
}

.user-info * {
  margin-top: 0;
  align-self: center;
}

.avatar {
  width: 3.2rem;
  border-radius: 3.2rem;
}

.user {
  display: grid;
  align-items: center;
}

.user > * {
  margin: 0;
}

.user-name {
  font-size: 0.9rem;
  padding-bottom: 0.2rem;
  font-weight: 500;
}

.online-status {
  font-size: 0.8rem;
  color: var(--dark-grey);
  font-weight: 500;
}

.hidden-nav::before {
  position: absolute;
  right: -0.5rem;
  width: 2rem;
  content: "...";
  text-align: center;
  font-weight: 600;
  color: black;
  font-size: 0.8rem;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 2rem;
  transition: background-color 0.3s ease-in-out;
}

.hidden-nav {
  position: relative;
  align-self: flex-start;
}

.hidden-nav:hover::before {
  cursor: pointer;
  background-color: var(--grey);
  background-position: center center;
  border-radius: 2rem;
  transition: background-color 0.3s ease-in-out;
}

.hidden-nav:focus .nav-container {
  display: flex;
}

.nav-container {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  width: max-content;
  background-color: rgba(255, 255, 255, 0.979);
  border: solid 0.15rem var(--grey);
  border-radius: 0.5rem;
  display: none;
}

.nav-options {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.nav-options li {
  padding: 0.5rem 1rem;
  align-self: flex-start;
  box-sizing: border-box;
  width: 100%;
}

.nav-options li:hover {
  background-color: var(--light-grey);
}

.nav-options li > a {
  width: 100%;
  font-size: 0.9rem;
  font-family: inherit;
  color: inherit;
  display: flex;
  align-content: center;
}

.nav-options li > a::before {
  align-content: center;
}

#between::before {
  display: inline-flex;
  width: 1rem;
  margin-right: 0.9rem;
  content: "</>";
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' class='r-1nao33i r-4qtqp9 r-yyyyoo r-1q142lx r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr'%3E%3Cg%3E%3Cpath d='M15.24 4.31l-4.55 15.93-1.93-.55 4.55-15.93 1.93.55zm-8.33 3.6L3.33 12l3.58 4.09-1.5 1.32L.67 12l4.74-5.41 1.5 1.32zm11.68-1.32L23.33 12l-4.74 5.41-1.5-1.32L20.67 12l-3.58-4.09 1.5-1.32z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#flag::before {
  display: inline-flex;
  width: 1rem;
  margin-right: 0.9rem;
  content: "!?";
  content: url("data:image/svg+xml,%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M3,2h18.6l-3.5,7l3.5,7H5v6H3V2z M5,14h13.4l-2.5-5l2.5-5H5V14z'/%3E%3C/g%3E%3C/svg%3E");
}

/* Content */

.post {
  font-size: 0.9rem;
  margin: 0;
}

.option-button {
  display: flex;
  justify-content: space-evenly;
  border-top: solid 0.1rem var(--dark-grey);
  margin-top: 1.5rem;
  padding: 1.5rem 1rem 0;
}

.button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  font-family: inherit;
  font-weight: 700;
  border: none;
  background-color: var(--grey);
  transition: background-color 0.25s ease-in-out;
}

.button:hover {
  background-color: var(--light-grey);
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;
}
